*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box
 }
body {
        height: 100vh;
        margin: 0px;
        display: grid;
        grid-template-rows: 120px 1fr 60px;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "cabeçalho"
            "principal"
            "rodape" ;
}
.cabeçalho{
    grid-area: cabeçalho;
    background-color: brown;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 5px;
    box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.66);
   
}
.cabeçalho > h1{
        margin: 0px;
        font-weight: 300;
        font-size: 2.8rem;
}
.cabeçalho > h2{
    margin: 0px;
    font-weight: 200;
    font-size: 1.6rem;
    
}

.principal{
    grid-area: principal;
    height: calc(100vh - 180px);
    background-color: #f0f0f0;
    padding: 20px;
}
.conteudo{
    position: relative;
    height: 100%;
    overflow-y: scroll;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.rodape{
    grid-area: rodape;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    color: #444;
}
.modulos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.modulo{
    flex-basis: 32%;
    margin-bottom: 10px;
    border-radius: 5px;
}
.modulo > h3{
    margin: 0px;
    color: #fff;
    font-weight: 300;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: brown;
}
.modulo > ul{
    margin: 0px;
    padding: 10px;
    list-style: none;
}
.modulo > ul> li{
    padding: 2px;
    font-size: 1.2rem;
    cursor: pointer;
}
.modulo > ul> li> a{
    display: flex;
    text-decoration: none;
    color: #222;
}
.modulo > ul> li:hover{
    background-color: #EEE;
}

.modulo.verde{border: 3px solid #4caf50;}
.modulo.verde > h3{background-color: #4caf50;}

.modulo.azul{border: 3px solid #1867c0;}
.modulo.azul > h3{background-color: #1867c0;}

.modulo.brown{border: 3px solid brown;}
.modulo.brown > h3{background-color: brown ;}

.modulo.amareloverde{border: 3px solid yellowgreen;}
.modulo.amareloverde > h3{background-color: yellowgreen;}

.modulo.roxo{border: 3px solid #9c27b0;}
.modulo.roxo > h3{background-color: #9c27b0;}

.modulo.amarelo{border: 3px solid #ff9800;}
.modulo.amarelo > h3{background-color: #ff9800;}